/* Selector universal */
* {
  padding: 0;
  margin: 0;
}

/* Selector de etiqueta */
body {
  height: 100vh; /* Le doy un valor del 100% al vh(View Height) */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  border: 5px solid #fdfa23;
  background-color: #f5da0c;
}

li {
  list-style: lower-latin;
  text-align: left;
}
