/* Selector universal */
* {
  margin: 0;
  padding: 0;
}

/* Selector de etiqueta */
body {
  height: 100vh; /* le doy una altura del 100% del vh (View Height) */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border: 5px solid #fdfa23;
  background-color: #f5da0c;
}

span {
  font-style: oblique;
}
